{% extends "base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->


    <h1 class="h3 mb-0 text-gray-800"> Competitor Analysis</h1>
    <br>
    <p class="mb-4">Here you can find all the aspects of Text analysis compressed to a single dashboard</p>
    <!-- Content Row -->

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->

        <p></p>
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">X Analog Wrist Watch</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <h6 class="m-0 font-weight-bold text-primary">Design</h6>
                            <p>Focus on the colors, design, elegance, longevity. Further, the band is a key difference
                                from Y and can be focused on as a differentiating factor for this brand compared to Y
                                watch</p>
                        </div>

                    </div>
                </div>

                <!--After the dashboard-->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Online Presence</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>Across Flipkart, Snapdeal and Amazon, this watch has a total reviews of 1041 with average
                                rating of 4.2
                            </p>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Major Issues</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>Warranty card missing, battery dead in some watches, and water resistance related
                                issus</p>
                            </table>
                        </div>
                    </div>
                </div>
                <!--don"t touch here-->
            </div>

            <div class="col-lg-6 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Y White Dial Men's Watch </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <h6 class="m-0 font-weight-bold text-primary">Design</h6>
                            <br>
                            <p>In contrast to X, Y has a Leather strap. However, the people are satisfied with the look
                                and design as well. </p>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Online Presence</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                                <p>Across Flipkart, Snapdeal and Amazon, this watch has a total reviews of 982 with
                                    average rating of 4</p>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Major Issues</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>Warranty card missing, Issues with leather strap and fake watches are major issues</p>
                            </table>
                        </div>
                    </div>
                </div>


            </div>


        </div>
        <!-- /.container-fluid -->


    </div>
</div>
</div>
<!-- End of Main Content -->
{% endblock %}