{% extends "base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Rating Distribution</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">State-wise distribution in India</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <img alt="" class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                     src="../static/images/map_titan_watch.jpg" style="width: 70rem;">
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}
