{% extends "base.html" %}

{% block content %}

  <!-- Begin Page Content -->
  <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-0 text-gray-800">X Analog Wrist Watch</h1>
      <br>
      <p class="mb-4">Here you can find the detailed sentiment analysis with <mark>top five positive and negative reviews</mark>
          displayed for convenience</p>

      <!-- Additional Note -->
      <i><small>
          <b>NOTE</b> : 
          Data are directly coming from excel file to populate the <b>Sentiment </b> & <b>Reviews </b>sections dynamically
        </small>
      </i>
      </br>
      </br>

      <div class="row">

        <!-- SENTIMENT ANALYSIS SECTION -->
        <div class="col-xl-4 col-lg-7">
            <div class="card shadow mb-5">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sentiment Analysis</h6>

                    <!--DROPDOWN MENU-->
                    <div class="dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" 
                           href="#" id="dropdownMenuLink" role="button">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-500"></i>
                        </a>
                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Download</a>
                          <a class="dropdown-item" href="#">Look in detail</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">go into detailed reviews</a>
                        </div>
                    </div>
                </div>

                <!--SENTIMENT ANALYSIS SECTION-->
                {% with reviews=reviews %}
                  {% include "utils/pie_chart.html" %}
                {% endwith %}
            </div>
        </div>

        <!-- CUSTOMER REVIEWS SECTION-->
        <div class="col-xl-8 col-lg-5">

          {# REVIEWS FOUND #}
          {% if reviews %}

            {# TOP FIVE POSITIVE REVIEWS FOUND #}
            {% with reviews=reviews['good_reviews'], color="success", review_type="Positive" %}
              {% include "utils/top_five_reviews.html" %}
            {% endwith %}

            {# TOP FIVE NEGATIVE REVIEWS FOUND #}
            {% with reviews=reviews['bad_reviews'],  color="danger",  review_type="Negative" %}
              {% include "utils/top_five_reviews.html" %}
            {% endwith %}

          {# NO REVIEWS FOUND #}
          {% else %}
            <h1 class="text-center">No Reviews Found</h1>
          {% endif %}
        </div>

      </div>
      <!-- Content Row -->

    </div>
    <!-- End of Main Content -->

{% endblock %}
