{% extends "base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product List</h1>
    <p class="mb-4">Here you can find the list of products that you've opted for. Kindly click on a product to go to the
        next dashboard</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product List Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>Product Type</th>
                        <th>Product Name</th>
                        <th>Number of Reviews</th>
                        <th>Average Review</th>
                        <th>Positive Sentiment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Women's Watch</td>
                        <td>X Analog White Dial Women's Watch -NE2370YM03</td>
                        <td>545</td>
                        <td>3.5</td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <td>Men's Watch</td>
                        <td>X Analog Watch - For Men</td>
                        <td>2631</td>
                        <td>4</td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <td>Women's Watch</td>
                        <td>X Youth Analog Black Dial</td>
                        <td>1021</td>
                        <td>2</td>
                        <td>39%</td>
                    </tr>
                    <tr>
                        <td>Men's Watch</td>
                        <td>X Analog Black Dial</td>
                        <td>963</td>
                        <td>3</td>
                        <td>70%</td>
                    </tr>

                    <tr>
                        <td>Women's Watch</td>
                        <td>X Blue Dial Women's Watch</td>
                        <td>2521</td>
                        <td>4</td>
                        <td>89%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}