{% extends "base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->


    <h1 class="h3 mb-0 text-gray-800">X Analog Wrist Watch</h1>
    <br>
    <p class="mb-4">Here you can find the varoius wordclouds to describe your product. The size of the words determine
        the frequency of use and is a reflection of how people perceive the product</p>
    <!-- Content Row -->

    <!-- Content Row -->

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <!--<div class="card shadow mb-4">

             <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">All Wordclouds</h6>
             </div>
             <div class="card-body">
               <div class="text-center">
                 <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 30rem;" src="img/titan_noun.png" alt="">
               </div>
               <p> Which words are people talking about your product</p>

             </div>
           </div>-->


        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <!--<div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nouns Wordclouds</h6>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 30rem;" src="img/titan_noun.png" alt="">
                </div>
                <p> Know which things people are associating your product</p>
              </div>
            </div>-->

        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Adjectives Wordclouds</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img alt="" class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                             src="../static/images/titan_adj.png" style="width: 30rem;">
                    </div>
                    <p> How do people describe the product</p>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">
            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Verbs Wordclouds</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img alt="" class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                             src="../static/images/titan_verb.png" style="width: 30rem;">
                    </div>
                    <p> Verbs Wordcloud- What actions people are posting</p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}