<!--Templates for showing Pie Chart with given values-->


<!--SENTIMENT ANALYSIS SECTION-->
<div class="card-body">

  <!--If review percentage found-->
  {% if reviews['good_percentage'] or reviews['bad_percentage'] %}

    <!--PIE CHART-->
    <div class="chart-pie pt-4 pb-2">
        <canvas id="myPieChart"></canvas>
    </div>

    <!--PERCENTAGE VALUES DISPLAYED-->
    <div class="mt-4 text-center small text-dark">
      <span class="mr-2">
        <i class="fas fa-circle text-success"></i> 
        <b>Positive : {{ reviews['good_percentage'] }}%</b>
      </span>
      <span class="mr-2">
        <i class="fas fa-circle text-danger"></i> 
        <b>Negative : {{ reviews['bad_percentage'] }}%</b>
      </span>
    </div>

    <!-- CREATING PIE CHART (ONLY AFTER HTML LOADED)-->
    <script>
      document.addEventListener('DOMContentLoaded', 
                    create_chart_pie( {{ reviews['good_percentage'] }}, 
                                      {{ reviews['bad_percentage']  }} ));
    </script>

  <!--If no review percentage found-->
  {% else %}
    <h1 class="text-center">Oops, No Reviews To Analyse</h1>
  {% endif %}
</div>
